    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">INTERVIEW</span>
                        <hr class="star-light">
                        <span class="skills">사람들의 이야기를 들어보세요!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Story of People</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <% @post.reverse.each do |a| %>
                    <div class="col-sm-6 portfolio-item">
                        <a href="/post/index/<%= a.id %>" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="<%= a.front_img.url %>" class="img-responsive img-rounded" alt="" id="overout">
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
    </section>